# anyone using OSX just ignore this
.DS_Store

# Ignoring standard OSX directories
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Ignoring temporary dot directories
/.CFUserTextEncoding
/.SpaceVim.d
/.SpaceVim
/.Trash
/.bash_history
/.bash_sessions
/.cache
/.config
/.docker
/.local
/.lpass
/.oh-my-zsh
/.ssh
/.vim
/.viminfo
/.zoomus
/.zsh_history
/.z

# Ignore workspace
/workspace
